* {
  margin: 0;
  padding: 0;
}

body {
  background: url("./sushi-restaurant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: aliceblue;
}

#content {
  min-height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-rows: 1fr 8.5fr 0.5fr;
  grid-template-areas: "header" "main" "footer";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;

  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-area: main;
}

.site-title {
  font-size: 6rem;
}

.restaurant-description {
  font-size: 1.5rem;
  width: 50ch;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}

header,
footer {
  background-color: rgba(0, 0, 0, 0.6);
}

li {
  list-style: none;
}
