@font-face {
  font-family: "Calligraphy";
  src: url("./fonts/scriptina.regular.ttf");
}

@font-face {
  font-family: "Site-Font";
  src: url("./fonts/Raleway-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("./pictures/sushi-restaurant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: antiquewhite;
  font-family: "Site-Font";
}

#content {
  min-height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-rows: 4rem 1fr 2rem;
  grid-template-areas: "header" "main" "footer";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;

  font-size: 2rem;
}

.menu-point {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.2rem;
}

.menu-point:hover {
  color: orange;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-area: main;
}

.site-title {
  font-size: 6rem;
  font-family: "Calligraphy";
  text-shadow: 0 0 5px black;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.restaurant-description {
  font-size: 2rem;
  font-weight: 200;
  width: 50ch;
  text-align: center;
  text-shadow: 0 0 5px black;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.call-to-action-btn {
  font: inherit;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: orange;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.call-to-action-btn:hover {
  cursor: pointer;
  background-color: #ff8c00;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.menu-display {
  background-color: rgba(0, 0, 0, 0.8);
  width: 60%;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.menu-heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid orange;
  padding-bottom: 1rem;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 5px black;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.2rem;
}

.grid-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.recipe {
  display: grid;
  gap: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  border: 1px solid rgba(51, 51, 51, 0.8);
  position: relative;
}

.price {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.2rem;
}

.recipe:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  color: orange;
  border: 1px solid orange;
}

.about-container {
  font-size: 1.5rem;
  font-weight: 200;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.about-container h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid orange;
  padding-bottom: 1rem;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 5px black;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.2rem;
}

.about-container p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.about-container em {
  font-style: italic;
  font-weight: 600;
  color: orange;

  /* text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.2rem; */
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}

header,
footer {
  background-color: rgba(0, 0, 0, 0.6);
}

li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

a:hover {
  text-decoration: none;
  color: orange;
}
